## DEFAULT
K8S_VERSION="v1.26.7"
CLUSTER_NAME="kubernetes"
REGISTRY_DOMAIN="192.168.88.219"
LOCAL_REPO_URL="http://192.168.88.219:8080/rhel8"
INSTALL_DIR="/var/lib/cubectl"
DATA_ROOT_DIR="/data"
KUBE_PROXY_MODE="ipvs"
SERVICE_CIDR="10.96.0.0/20"
CERT_VALIDITY_DAYS="36500"
API_SANS=(
  ""
)

## CRI
CONTAINERD_IO="containerd.io-1.6.18-3.1.el8"
IMAGE_PAUSE_VERSION="registry.k8s.io/pause:3.9"

## MASTER
NODE_POOL_MASTER=(
  "10.10.30.4"
  "10.10.30.175"
  "10.10.30.218"
)
LB_IP=""
LB_PORT=""

## NODE
NODE_IP="10.10.30.213"