## Inventory
## - All nodes IP Address and Internal IP Address 
[all]
master-1                               ansible_ssh_host={{ NodePool.Master.IP[0] }}    ansible_ssh_port={{ NodePool.SSHPort }}


## Master Nodes name in [all] sector
[masters]
master-1