## Inventory
## - All nodes IP Address and Internal IP Address 
[all]
{% if NodePool.Master.IP %}
{%   for IP in NodePool.Master.IP %}
master-{{ loop.index }}                 ansible_ssh_host={{ IP }}    ansible_ssh_port={{ NodePool.SSHPort }}  ip={{((NodePool.Master.PrivateIP != None) and (NodePool.Master.PrivateIP | length > 0)) | ternary(NodePool.Master.PrivateIP[loop.index-1], IP) }}
{%   endfor %}
{% endif%}
{% if NodePool.Node.IP %}
{%   for IP in NodePool.Node.IP %}
node-{{ loop.index }}                   ansible_ssh_host={{ IP }}    ansible_ssh_port={{ NodePool.SSHPort }}  ip={{ ((NodePool.Node.PrivateIP != None) and (NodePool.Node.PrivateIP | length > 0)) | ternary(NodePool.Node.PrivateIP[loop.index-1], IP) }}
{%   endfor %}
{% endif%}

## Master Nodes name in [all] sector
[masters]
{% if NodePool.Master.IP %}
{%   for IP in NodePool.Master.IP %}
master-{{ loop.index }}
{%   endfor %}
{% endif %}

[node]
{% if NodePool.Master.IP %}
{%   for IP in NodePool.Node.IP %}
node-{{ loop.index }}
{%   endfor %}
{% endif %}