apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ acloud_client_ca_crt | b64encode }}
    server: https://{{ lb_ip }}:{{ lb_port }}
  name: {{ cluster_name | default('kubernetes') }}
contexts:
- context:
    cluster: {{ cluster_name | default('kubernetes') }}
    user: acloud-client
  name: acloud-client@{{ cluster_name | default('kubernetes') }}
current-context: acloud-client@{{ cluster_name | default('kubernetes') }}
kind: Config
preferences: {}
users:
- name: acloud-client
  user:
    client-certificate-data: {{ acloud_client_crt | b64encode }}
    client-key-data: {{ acloud_client_key | b64encode }}