{
    "cloud":"AzurePublicCloud",
    "tenantId": "{{ tenant_id }}",
    "subscriptionId": "{{ subscription_id }}",
    "aadClientId": "{{ client_id }}",
    "aadClientSecret": "{{ client_secret }}",
    "resourceGroup": "{{ resource_group }}",
    "location": "{{ location }}",
    "vnetName": "{{ vnet_name }}",
    "subnetName": "{{ subnet_name }}",
    "securityGroupName": "{{ security_group_name }}",
    "primaryAvailabilitySetName": "{{ primary_availability_set_name }}",
    "routeTableName": "{{ route_table_name }}",
    "vnetResourceGroup": "",
    "cloudProviderBackoff": false,
    "cloudProviderBackoffRetries": 0,
    "cloudProviderBackoffExponent": 0,
    "cloudProviderBackoffDuration": 0,
    "cloudProviderBackoffJitter": 0,
    "cloudProviderRatelimit": false,
    "cloudProviderRateLimitQPS": 0,
    "cloudProviderRateLimitBucket": 0,
    "useManagedIdentityExtension": false,
    "useInstanceMetadata": true
}