apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_data.stdout | b64encode }}
    server: https://{{ hostvars[inventory_hostname]['ip'] }}:{{ api_secure_port }}
  name: {{ cluster_name | default('kubernetes') }}
contexts:
- context:
    cluster: {{ cluster_name | default('kubernetes') }}
    user: system:kube-scheduler
  name: system:kube-scheduler@{{ cluster_name | default('kubernetes') }}
current-context: system:kube-scheduler@{{ cluster_name | default('kubernetes') }}
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user:
    client-certificate-data: {{ scheduler_crt_data.stdout | b64encode }}
    client-key-data: {{ scheduler_key_data.stdout | b64encode }}