[ req ]
distinguished_name = req_distinguished_name
[req_distinguished_name]

[ v3_ca ]
basicConstraints = critical, CA:TRUE
keyUsage = critical, digitalSignature, keyEncipherment, keyCertSign

[ v3_req_client ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth

[ v3_req_server ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names_registry

[ alt_names_registry ]
DNS.1 = localhost
{% if cloud_provider == 'aws' %}
DNS.2 = {{ ansible_fqdn }}
{% else %}
DNS.2 = {{ ansible_hostname }}
{% endif %}
{% if not registry_domain | ipaddr() -%}
DNS.3 = {{ registry_domain }}
{% endif -%}
IP.1 = 127.0.0.1
IP.2 = {{ hostvars[inventory_hostname]['ansible_ssh_host'] }}
{% if registry_domain|ipaddr() and registry_domain != registry -%}
IP.3 = {{ registry_domain }}
{% endif -%}