#!/bin/bash

# To receive notify throught SLACK, modify APP_SLACK_WEBHOOK value and channel_name.
export APP_SLACK_WEBHOOK=https://hooks.slack.com/services
export APP_SLACK_USERNAME="koreon"

HARBOR_DIR={{ install_dir }}/harbor

main() {
	cd $HARBOR_DIR
	cnt=$(/usr/local/bin/docker-compose ps | tail -n +3 | grep -v grep | grep Up | wc -l)

	if (( $cnt < "12" )); then
#       {{ install_dir }}/scripts/slack.sh '#channel_name' {{ cluster_id }} registry is unhealthy !!!.
        ret1=$(/usr/local/bin/docker-compose ps | tail -n +3)
        /usr/local/bin/docker-compose up -d
#        {{ install_dir }}/scripts/slack.sh '#channel_name' {{ cluster_id }} registry unhealthy components are restarted.
	fi

}

main "${@}"