apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ acloud_client_ca_crt | b64encode }}
    server: https://{{ lb_ip }}:{{ lb_port }}
  name: acloud-client
contexts:
- context:
    cluster: acloud-client
    user: acloud-client
  name: acloud-client
current-context: acloud-client
kind: Config
preferences: {}
users:
- name: acloud-client
  user:
    client-certificate-data: {{ acloud_client_crt | b64encode }}
    client-key-data: {{ acloud_client_key | b64encode }}