{% set etcd_machine_address = hostvars[inventory_hostname]['ip'] -%}
{% set etcd_initial_advertise_peer_urls = etcd_peer_url_scheme+'://'+etcd_machine_address+':'+etcd_peer_port|string -%}
{% set etcd_listen_peer_urls = etcd_peer_url_scheme+'://0.0.0.0'+':'+etcd_peer_port|string -%}
{% set etcd_advertise_client_urls = etcd_peer_url_scheme+'://'+etcd_machine_address+':'+etcd_client_port|string -%}
{% set etcd_listen_client_urls = etcd_peer_url_scheme+'://0.0.0.0'+':'+etcd_client_port|string -%}

{% macro initial_cluster() -%}
{% for host in groups[etcd_peers_group] -%}
  {{ hostvars[host]['ansible_nodename'] }}={{ etcd_peer_url_scheme }}://{{ hostvars[host]['ip'] }}:{{ etcd_peer_port }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}
#[member]
{% if groups[etcd_peers_group] and groups[etcd_peers_group] | length > 0 %}
ETCD_NAME={{ ansible_nodename }}
{% else %}
ETCD_NAME=default
{% endif %}

ETCD_DATA_DIR={{ etcd_data_dir }}
#ETCD_SNAPSHOT_COUNTER="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""

{% if groups[etcd_peers_group] and groups[etcd_peers_group] | length > 0 %}
#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_initial_advertise_peer_urls }}
ETCD_INITIAL_CLUSTER={{ initial_cluster() }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_initial_cluster_state }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}
#ETCD_DISCOVERY=""
#ETCD_DISCOVERY_SRV=""
#ETCD_DISCOVERY_FALLBACK="proxy"
#ETCD_DISCOVERY_PROXY=""
ETCD_LISTEN_PEER_URLS={{ etcd_listen_peer_urls }}
ETCD_ADVERTISE_CLIENT_URLS={{ etcd_advertise_client_urls }}
ETCD_LISTEN_CLIENT_URLS="{{ etcd_listen_client_urls }}"
{% endif %}

#[proxy]
ETCD_PROXY="off"

#[security]
ETCD_CLIENT_CERT_AUTH="true"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE={{ etcd_ca_file }}
ETCD_CERT_FILE={{ etcd_cert_file }}
ETCD_KEY_FILE={{ etcd_key_file }}
ETCD_PEER_TRUSTED_CA_FILE={{ etcd_ca_file }}
ETCD_PEER_CERT_FILE={{ etcd_peer_cert_file }}
ETCD_PEER_KEY_FILE={{ etcd_peer_key_file }}

