[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ harbor_install_dir }}
ExecStart=/bin/docker-compose up -d
ExecStop=/bin/docker-compose down -v
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target