apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_data.stdout | b64encode }}
    server: https://{{ hostvars[inventory_hostname]['ip'] }}:{{ api_secure_port }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{ admin_crt_data.stdout | b64encode }}
    client-key-data: {{ admin_key_data.stdout | b64encode }}