---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: dnsutils
  name: dnsutils
spec:
  selector:
    matchLabels:
      app: dnsutils
  template:
    metadata:
      labels:
        app: dnsutils
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
      containers:
      - name: dnsutils
        image: "gcr.io/kubernetes-e2e-test-images/dnsutils:1.3"
        command:
          - sleep
          - "3600"
        imagePullPolicy: IfNotPresent
      restartPolicy: Always