image:
  nfs:
    repository: regi.acloud.run/registry.k8s.io/sig-storage/nfsplugin
    tag: v4.1.0
  csiProvisioner:
    repository: regi.acloud.run/registry.k8s.io/sig-storage/csi-provisioner
    tag: v3.2.0
  livenessProbe:
    repository: regi.acloud.run/registry.k8s.io/sig-storage/livenessprobe
    tag: v2.7.0
  nodeDriverRegistrar:
    repository: regi.acloud.run/registry.k8s.io/sig-storage/csi-node-driver-registrar
    tag: v2.5.1
storageClass:
  create: true
  isDefault: true
  name: nfs-csi
  parameters:
    server: "{{ storage_ip }}"
    share: "{{ shared_volume_dir }}"
  mountOptions:
    #- nconnect=8  # only supported on linux kernel version >= 5.3
    - hard
    #- nolock
    #- no_root_squash
    #- nfsvers=3
    - nfsvers=4.1
  addintionalLabels:
    acornsoft.io/provisioner-type: NFS_CSI
    acornsoft.io/total-capacity: "1024"
    acornsoft.io/type: NETWORK
    acornsoft.io/volume-type: PERSISTENT_VOLUME
exporter:
  repository: regi.acloud.run/library/csi-nfs-diskusage-exporter
  tag: 1.0.4.2
  pullPolicy: IfNotPresent