{
  "data-root": "{{ data_root_dir }}/docker",
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2",
  "iptables": true
{%-  if ansible_distribution in ["CentOS", "RedHat"] -%}
  ,
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
{% endif %}
{%-  if is_gpu_node -%}
  ,
  "default-runtime": "nvidia",
  "runtimes": {
    "nvidia": {
      "path": "/usr/bin/nvidia-container-runtime",
      "runtimeArgs": []
    }
  }
{% endif %}
}