apiVersion: v1
kind: Secret
metadata:
    name: metrics-server-certs
    namespace: kube-system
data:
    ca.crt: "{{ metrics_server_ca_crt }}"
    metrics-server.crt: "{{ metrics_server_crt }}"
    metrics-server.key: "{{ metrics_server_key }}"
type: Opaque